BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 8
UseTab: Always
TabWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AlwaysBreakAfterReturnType: TopLevel
BreakConstructorInitializers: AfterColon
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
